#top_header
	text-transform: uppercase
	background: $primary
	padding: 1.5em 0
	.logo
		font-size: 1em
		font-weight: 400
		color: $white
		float: left
	
	#main_nav
		font-size: .8em
		padding: 1em
		float: right
		a
			transition: 300ms ease-in-out
			text-decoration: none
			margin-right: 1em
			color: $white
			
		a.link:hover
			border-bottom: 1px solid $white
			padding: .3em 0